{% extends 'base.html.twig' %}

{% block title %}MediatekFormation{% endblock %}

{% block body %}
<div class="portfolio-page">
    <h1>Atelier Portfolio</h1>

    <section>
        <h2>Langages et technologies utilisés</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>PHP</li>
            <li>Symfony</li>
            <li>MySQL</li>
            <li>Wamp</li>
        </ul>
    </section>

    <section>
        <h2>Présentation rapide</h2>
        <p>
            Ce projet s'inscrit dans le cadre du développement d'une application web pour MediaTek86, un réseau de médiathèques dans la Vienne. 
            L'objectif est de corriger et faire évoluer une application Symfony exploitant une base de données MySQL, 
            permettant de mettre à disposition des vidéos d'auto-formation en ligne pour les utilisateurs des médiathèques.
        </p>
    </section>

    <section>
        <h2>Liens vers les documents</h2>
        <ul>
            <li><a href="https://eformation.cned.fr/mod/book/view.php?id=991115" target="_blank">Contexte officiel</a></li>
            <li><a href="https://eformation.cned.fr/pluginfile.php/1992084/mod_page/content/37/contratDeveloppement.pdf?time=1723015926826" target="_blank">Contrat de développement</a></li>
            <li><a href="https://eformation.cned.fr/pluginfile.php/1992084/mod_page/content/37/cahier_des_charges.pdf?time=1723016022470" target="_blank">Cahier des charges</a></li>
            <li><a href="https://eformation.cned.fr/pluginfile.php/1992084/mod_page/content/37/AP1_missions.pdf?time=1723016052336" target="_blank">Missions</a></li>
            <li><a href="/path/to/compte_rendu.pdf" target="_blank">Compte rendu</a></li>
            <li><a href="/path/to/pv_recette.pdf" target="_blank">PV de recette</a></li>
            <li><a href="https://github.com/Dylan-Groux/mediatekformation" target="_blank">Dépôt distant</a></li>
            <li><a href="https://mediatekformation.grdy2507.odns.fr/" target="_blank">Site en ligne avec ENV en DEV</a></li>
            <li><a href="https://github.com/Dylan-Groux/mediatekformation/blob/master/ROUTES.md" target="_blank">Documentation Route</a></li>
            <li><a href="https://github.com/Dylan-Groux/mediatekformation/blob/master/README.md" target="_blank">Documentation technique</a></li>
            <li><a href="https://github.com/Dylan-Groux/mediatekformation/blob/master/DOC_UTILISATEUR.md" target="_blank">Documentation Utilisateur</a></li>
        </ul>
    </section>

    <section>
        <h2>Vidéo de démonstration</h2>
        <li><a href="https://www.youtube.com/watch?v=QSDUQEhlkX4" target="_blank">Vidéo youtube</a></li>
        <iframe width="560" height="315" src="https://www.youtube.com/watch?v=QSDUQEhlkX4" frameborder="0" allowfullscreen></iframe>
    </section>

    <section>
        <h2>Compétences couvertes</h2>
        <ul>
            <li>B1 - Analyse et conception</li>
            <li>B2 - Développement</li>
        </ul>
    </section>

    <section>
    <a href="{{path('accueil')}}"> Retourner à l'accueil </a>
    </section>
</div>
{% endblock %}
