{% extends 'base.html.twig' %}

{% block title %}Mediatek86{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center text-primary mb-4">Mediatek86</h1>

    <div class="mb-4">
        <h2 class="text-secondary">Langages et technologies utilisés</h2>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">Winform</li>
                    <li class="list-group-item">PHP</li>
                    <li class="list-group-item">Api REST</li>
                    <li class="list-group-item">Cpanel</li>
                    <li class="list-group-item">OBS Studio</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">O2switch</li>
                    <li class="list-group-item">InnoSetup</li>
                    <li class="list-group-item">MySQL</li>
                    <li class="list-group-item">Wamp</li>
                    <li class="list-group-item">SSH</li>
                    <li class="list-group-item">FTP</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <h2 class="text-secondary">Présentation rapide</h2>
        <p class="lead">
            Ce projet s'inscrit dans le cadre du développement d'une application pour MediaTek86, un réseau de médiathèques dans la Vienne. 
            L'objectif est de créer une application en C# qui communique avec une API en PHP, permettant la gestion et la maintenance des documents de la médiathèque.
        </p>
    </div>

    <div class="mb-4">
        <h2 class="text-secondary">Liens vers les documents</h2>
        <div class="list-group">
                <a href="https://eformation.cned.fr/mod/book/view.php?id=991115" target="_blank" class="list-group-item list-group-item-action">Contexte officiel</a>
                <a href="https://eformation.cned.fr/pluginfile.php/2009423/mod_page/content/21/cahier_des_charges_AP2.pdf" target="_blank"class="list-group-item list-group-item-action">Cahier des charges</a>
                <a href="https://docs.google.com/document/d/1FuwNuKpaIpSx2U02NW8heLzl7MO85rFr1UM7oVi8dXc/edit?tab=t.0" target="_blank" class="list-group-item list-group-item-action">Compte rendu</a>
                <a href="https://github.com/CNED-SLAM/MediaTekDocuments" target="_blank" class="list-group-item list-group-item-action">Base du projet</a>
                <a href="https://github.com/Dylan-Groux/Mediatek86" target="_blank" class="list-group-item list-group-item-action">Dépôt distant</a>
                <a href="https://github.com/CNED-SLAM/rest_mediatekdocuments" target="_blank" class="list-group-item list-group-item-action">Dépôt distant de l'API</a>
                <a href="https://github.com/Dylan-Groux/Mediatek86/blob/master/README%20TECHNO.md" target="_blank" class="list-group-item list-group-item-action">Documentation technique</a> 
                <a href="https://github.com/Dylan-Groux/Mediatek86/blob/master/README.md" target="_blank" class="list-group-item list-group-item-action">Documentation Utilisateur</a>
        </div>
    </div>

    <a href="{{ asset('files/Mediatek86.exe')}}" download>
        <button class="nav-link bg-primary text-white p-2 rounded">Télécharger mon application (.exe)</button>
    </a>

    <div class="mb-4">
        <h2 class="text-secondary">Vidéo de démonstration (En développement)</h2>
        <div class="ratio ratio-16x9">
            <iframe src="" allowfullscreen></iframe>
        </div>
    </div>

    <div class="mb-4">
        <h2 class="text-secondary">Compétences couvertes</h2> <p>(dans le cadre de l'épreuve E5)<p>
        <ul class="list-group">
            <li class="list-group-item">Travailler en mode projet</li>
            <li class="list-group-item">Mettre à disposition des utilisateurs un service informatique</li>
            <li class="list-group-item">Répondre aux incidents et aux demandes d’assistance et d’évolution</li>
            <li class="list-group-item">Gérer le patrimoine informatique</li>
            <li class="list-group-item">Développer la présence en ligne de l’organisation</li>
        </ul>
    </div>

    <div class="text-center">
        <a href="{{ path('accueil') }}" class="nav-link bg-primary text-white p-2 rounded">Retourner à l'accueil</a>
    </div>
</div>
{% endblock %}
